.buda-section {
  background-image: url("../images/content/Cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
} 

.buda__container {
  padding-left: 75px;
}