.nav__ham-menu {
  display: none;
 
   @include tablets {
     display: flex;
     flex-direction: column;
     margin-left: 60px;
   }
 }
 
 .nav__menu-line {
   width: 24px;
   height: 3px;
   background-color: $text-color;
   background-repeat: 30%;
   margin-bottom: 5px;
 }
 