script(type="text/x-template")#reviews-slider
  .reviews-slider
    //- .span(v-for="n in 10") {{n}}
    //- pre {{ works }}
    slheader(
      @slide="handleSlide",
      :currentIndex="currentIndex",
      :works="works"
    )

      
    //- .reviews-slider__content(
    //-   :currentWork="currentWork"
    //-   :works="works"
    //- )
    .reviews-slider__content
      -
        var reviews1 = [
          ["Ковальчук Дмитрий","Основатель Loftschool", "dima", "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"],
          ["Владимир Сабанцев","Преподаватель", "vova", "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!"],
        ];
      ul.reviews-slider__list
        //- each row in reviews1
        //- li.reviews-slider__item
        li.reviews-slider__item(
          v-for="n in 2"
        )
          .reviews-slide__quote
            +icon("quote", "reviews-slider__quote-pic")
          .reviews-slider__review
            //- .reviews-slider__text #{row[3]}
            .reviews-slider__text {{works[currentIndex+n-1].text}}
            .reviews-slider__author
              .reviews__avatar
                //- .avatar
                img(:src="works[currentIndex+n-1].authorpic").reviews__avatar-class
              .author-info
                .author-name {{works[currentIndex+n-1].author_name}}
                .author-job {{works[currentIndex+n-1].author_occ}}

script(type="text/x-template")#reviews-slider__header
  .reviews-slider__header
    .reviews-slider__name.title Что обо мне говорят
    .reviews-slider__arrows
      a(href="#" @click.prevent="$emit('slide', 'prev')").reviews-slider__arrow(
        :class="{unactive: currentIndex === 0 }"
      )
        +icon("arrow-down", "reviews-slider__arrow-pic reviews-slider__arrow-pic--left")
      a(href="#" @click.prevent="$emit('slide', 'next')").reviews-slider__arrow(
        :class="{unactive: currentIndex === works.length-2 }"
      )
        +icon("arrow-down", "reviews-slider__arrow-pic")                  