script(type="text/x-template")#slider-container
  .slider
    
    display(
      :works="works",
      :currentWork="currentWork",
      :firstOutIndex="firstOutIndex",
      :slidesPerPage="slidesPerPage",
      :currentIndex="currentIndex",

      @slide="handleSlide"

    )
    num(
      :currentWork="currentWork"
    )
    info(
      :currentWork="currentWork"
    )
    

script(type="text/x-template")#slider-display
  .slider__pictures
    .slider__display
      img(:src="currentWork.photo", class="slider__display-pic")
      thumbs(
        :works="works"
        :currentWork="currentWork"
        :firstOutIndex="firstOutIndex"
        :slidesPerPage="slidesPerPage"
        @slide="$emit('slide', $event)"
      )
      btns(
        :works="works"
        :currentWork="currentWork"
        :firstOutIndex="firstOutIndex"
        :slidesPerPage="slidesPerPage"
        :currentIndex="currentIndex"
        @slide="$emit('slide', $event)"
      )
      
script(type="text/x-template")#slider-num
  .slider__num {{currentWork.id}}

script(type="text/x-template")#slider-thumbs
  ul.slider-thumbs
    li.slider-thumbs__item(
      v-for="n in slidesPerPage"
      :class="{active: works[n-1+firstOutIndex].id === currentWork.id}"
    )
      button(type="button" @click.prevent="$emit('slide', n-1+firstOutIndex)").slider-thumbs__btn
        img(:src="works[n-1+firstOutIndex].photo" alt="" class="slider-thumbs__pic")

script(type="text/x-template")#slider-buttons
  .slider__buttons
     button(type="button" @click.prevent="$emit('slide', 'next')").direction-btn(
        :class="{unactive: currentIndex === works.length - 1 }"
        :disabled="currentIndex === works.length - 1"        
     )
      +icon("arrow-down", "direction-arr direction-arr--next") 
     button(type="button" @click.prevent="$emit('slide', 'prev')").direction-btn(
        :class="{unactive: currentIndex === 0 }"
        :disabled="currentIndex === 0"
     )
      +icon("arrow-down", "direction-arr direction-arr--prev") 
      
script(type="text/x-template")#slider-info
  .slider__info
    tags(
            :tags='tagsArray'
        )

    .slider__info-text
      h3.slider__info-title {{currentWork.title}}
      .slider__info-desc {{currentWork.desc}}
    .slider__info-btns
      a.slider__info-link(href="currentWork.link") 
        +icon("link", "slider__info-link-icon") 
        .slider__info-link-text Посмотреть сайт

script(type="text/x-template")#slider-tags
  .slider__tags
    //- - var tagsN = ["HTML", "CSS", "javascript"]; 
    ul.tags
      //- each item in tagsN
        li.tags__item #{item}
      li.tags__item(
        v-for='tag in tags'
        ) {{tag}}